@import "tailwindcss";

/* your global styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.router-link-active {
  color: #000000;
  font-weight: 600;
}